#wrapper {
    display: grid;
    gap: 1%;
    height: 750px;
    grid-template-columns: 17% 1fr 17% ;
    grid-template-rows: 22% 1fr 17%;
    grid-template-areas:
        'hd hd hd hd'
        'na se se se'
        'ft ft ft ft'
    ;


}

header {
    grid-area: hd;
    background-image: linear-gradient(-90deg, #f0d689  , #c0392b);
    padding: 0.4cm;

}

nav {
    grid-area: na;
   background-color:#f0d689 ;
   padding: 0.4cm;
}

section {
    grid-area: se;
    background-color: #f0d689;
    padding: 0.4cm;

}

footer {
    grid-area: ft;
    background-color: #f0d689;
    padding: 0.4cm;
}